
<br>
<br>
<br>


<div class="container">

    <div class="row text-center">
        <loading></loading>
    </div>


    <div class="row">
        <div class=" col-md-5">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img ng-src="{{ DD.User.avatar_url}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 ng-if="DD.User.login">
                            {{ DD.User.login }}
                        </h4>
                        <small ng-if="DD.User.location"><cite title="San Francisco, USA">{{ DD.User.location}} <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i ng-if="DD.User.email" class="glyphicon glyphicon-envelope"></i>{{ DD.User.email  }}
                            <br />
                            <i ng-if="DD.User.blog" class="glyphicon glyphicon-globe"></i><a ng-if="User.blog" href="http://www.jquery2dotnet.com">{{ User.blog }}</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> Joined on {{ DD.User.created_at | date:"MM/dd/yyyy" }}
                            <br>

                                <i class="fa fa-github-square" aria-hidden="true" ng-if="DD.User.bio"></i>
                          {{ DD.User.bio }}


                        </p>
                        <!-- Split button -->
                      <hr>
                        <h5 class="text-center"><a ng-href="{{ DD.User.html_url}}">Show Github</a></h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6" ng-if="DD.User.followers">
  <h5><a>{{DD.User.followers | number }} Followers </a></h5>
                            </div>

                            <div class="col-md-6" ng-if="DD.User.following">
                                <h5> <a>{{ DD.User.following | number }} Following</a></h5>
                            </div>



                        </div><!---end of row-->



                        <hr>

                        <div class="row">
                            <h5 class="text-center" ng-if="!DD.User.organisations">0 Organisations</h5>
                            <h5 class="text-center" ng-if="DD.User.organisations">{{ DD.User.organisations.length }} Organisations</h5>
                            <div class="row">
                                <div class="col-md-2" ng-repeat="org in DD.User.organisations" ng-if="$index % 3 == 0">
                                    <a><img ng-src="{{ DD.User.organisations[$index].avatar_url}}" class="img-responsive img-circle" width="30px"> </a>
                                </div>

                                <div class="col-md-2"  ng-if="DD.User.organisations.length > ($index + 1)">
                                  <a>  <img ng-src="{{ DD.User.organisations[$index].avatar_url}}" class="img-responsive img-circle" width="30px"> </a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div><!---end of col md6---------->






        <div class="col-md-7">
            <h3> {{ DD.User.public_repos}} Repositories</h3>
            <hr>


            <div class="row dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By {{ myOrderBy }}
                   </button>

                <div class="dropdown-menu">
                    <a ng-click="DD.orderBy('watchers')"  class="list-group-item">
                        Most Watched
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                    <a ng-click="DD.orderBy('forks')"  class="list-group-item">Most forked
                        <i class="fa fa-code-fork" aria-hidden="true"></i></a>

                </div>
            </div>

            <div class="row">

                <input type="text" class="form-control input-lg" placeholder="Search" ng-model="searchText" >

            </div>
            <table class="table table-hover">

                <tbody>
                <tr ng-repeat="r in DD.User.repos | orderBy:'stargazers_count' | filter:searchText ">
                    <td>
                        <div class="alert  repo" role="alert" style="border: 2px solid #3F51B5;border-radius: 25px;color: #001714;background-color: #FFFFFF">

                        <h3><a ui-sref="reposDetails({'username': '{{DD.User.login}}',repos: '{{r.name }}' })"> {{ r.name }}</a> </h3>

                            <div class="pull-right">

                                <span class="glyphicon glyphicon-star">{{ r.stargazers_count}}</span>

                                <i class="fa fa-code-fork" aria-hidden="true"></i>{{ r.forks_count}}
                            </div>

                            <br>


                            <a ng-if="r.language"> language   :
                                {{ r.language }} <i class="fa fa-language" aria-hidden="true"></i>
                            </a>
                            <br>

                            <a ng-if="r.description"> {{ r.description}}</a>


                        </div>
                    </td>

                </tr>

                </tbody>
            </table>


        </div>









    </div><!----end of row---->
</div><!---end of container------->