
<br>
<br>
<br>


<div class="container">

    <div class="row text-center">
        <loading></loading>
    </div>


    <div class="row">
        <div class=" col-md-6">

            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" ng-src="{{ DD.User.avatar_url}}" alt="..." width="70px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> {{ DD.User.login }}</h4>

                    <small ng-if="DD.User.location"><cite title="San Francisco, USA">{{ DD.User.location}} <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p class="orgDetails">
                        <i ng-if="DD.User.email" class="glyphicon glyphicon-envelope"></i>{{ DD.User.email  }}
                        <br />
                        <i ng-if="DD.User.blog" class="glyphicon glyphicon-globe"></i><a ng-if="User.blog" ng-href="DD.User.blog">{{ DD.User.blog }}</a>
                    </p>

                    <p class="orgDetails">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Joined on {{ DD.User.created_at | date:"MM/dd/yyyy" }}
                     </p>

                    <p class="orgDetails">
                        <i class="fa fa-github-square" aria-hidden="true" ng-if="DD.User.bio"></i>
                        {{ DD.User.bio }}
                     </p>




                    <p class="orgDetails">
                        <i class="fa fa-gitlab" aria-hidden="true"></i> {{ DD.User.followers | number  }} Followers
                    </p>


                    <p class="orgDetails">
                        <i class="fa fa-gratipay" aria-hidden="true"></i> {{ DD.User.following | number }} Following
                    </p>

                  <!----->
                    <h5 class="text-center"><a ng-href="{{ DD.User.html_url}}">
                        <i class="fa fa-github" aria-hidden="true"></i> Show Github</a></h5>


                    <hr>



                </div>
            </div>

<h3 style="font-family: Roboto, Helvetica, Arial, sans-serif">{{ DD.User.organisations.length }} Organisations</h3>
            <!------------------------>
            <ul class="media-list">
                <li class="media" ng-repeat="org in DD.User.organisations ">
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" ng-src="{{ org.avatar_url}}" alt="..." width="70px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ui-sref="organisationDetails({ username: org.login })">{{org.login }}</a>
                        </h4>

                    </div>

                </li>
                <!----------------->

            </ul>

        </div><!---end of col md6---------->



<!----------------------------------------------------------->


        <div class="col-md-6">
            <h3> {{ DD.User.public_repos}} Repositories</h3>
            <hr>


            <div class="row dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By {{ myOrderBy }}
                   </button>

                <div class="dropdown-menu">
                    <a ng-click="DD.orderBy('watchers')"  class="list-group-item">
                        Most Watched
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                    <a ng-click="DD.orderBy('forks')"  class="list-group-item">Most forked
                        <i class="fa fa-code-fork" aria-hidden="true"></i></a>

                </div>
            </div>

            <div class="row">

                <input type="text" class="form-control input-lg" placeholder="Search" ng-model="searchText" >

            </div>
            <table class="table table-hover">

                <tbody>
                <tr ng-repeat="r in DD.User.repos | orderBy:'stargazers_count' | filter:searchText ">
                    <td>
                        <div class="alert  repo" role="alert" style=" border-style: solid;
    border-color: #F5F5F5;">

                        <h3><a ui-sref="reposDetails({'username': '{{DD.User.login}}',repos: '{{r.name }}' })"> {{ r.name }}</a> </h3>



                                <p>
                                     <span style="font-weight: bold">
                                           <i class="fa fa-star" aria-hidden="true"></i> Stars    </span>:
                                {{ r.stargazers_count}}

                                    </p>

<!------------------------------------------------------------>
                                <p>
                                     <span style="font-weight: bold">
                             <i class="fa fa-code-fork" aria-hidden="true"></i> Forks :  </span> {{ r.forks_count}}

                                </p>
                                <!------------------------------------------------------------>



                            <p ng-if="r.language">
                                <span style="font-weight: bold">
                                   <i class="fa fa-code" aria-hidden="true"></i> language </span>   :
                                {{ r.language }}
                            </p>


                            <p ng-if="r.description">
                                <span style="font-weight: bold">
                             <i class="fa fa-history" aria-hidden="true"></i>Description  </span>:
                                {{ r.description}}
                            </p>


                    </td>

                </tr>

                </tbody>
            </table>


        </div>









    </div><!----end of row---->
</div><!---end of container------->