<br>
<br>
<br>
<div class="container">



    <div>


<h3>let's discover git</h3>

        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading">Getting Started</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">Git Basics</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">Git Branching</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">Git on the Server</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Distributed Git</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Git Tools</div>
            <div class="panel-body">Panel Content</div>
        </div>


        <div class="panel panel-info">
            <div class="panel-heading">Git Tools</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Customizing Git</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Git and Other Systems</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Git Internals</div>
            <div class="panel-body">Panel Content</div>
        </div>


    </div>





</div>
<br>
<br>
<br>
<br>
<br>