<br>
<br>
<br>
<div class="container">



    <div>



        <hr>
        <div class="panel panel-default test ">
            <div class="panel-heading panel-heading-custom3">Getting Started</div>
            <div class="panel-body">
                <p style="font-family: Roboto, Helvetica, Arial, sans-serif;color: #000011;font-weight: bold">Git is a distributed revision control and source code management system with an emphasis on speed. Git was initially designed and developed by Linus Torvalds for Linux kernel development.
                    Git is a free software distributed under the terms of the GNU General
                    Public License version 2</p>
            </div>
        </div>

        <div class="panel panel-success" >
            <div class="panel-heading">Git - Basic Concepts</div>
            <div class="panel-body">



                <div class="alert alert-success" role="alert">
                    <h3 class="panel-title">Version Control System</h3>
                    <p> <span style="font-weight: bold">Version Control System (VCS) </span> is a software that helps software
                        developers to work together and maintain a complete history of their work.</p>


                    <p>Listed below are the functions of a VCS:</p>

                    <ul>
                        <li>Allows developers to work simultaneously.</li>
                        <li>Does not allow overwriting each other’s changes.</li>

                        <li>Maintains a history of every version.
                        Following are the types of VCS:</li>


                    </ul>

                    <!-------------------------------------------------->
                    <h3 class="panel-title">Advantages of Git</h3>
                    <ul>
                        <li>Free and open source</li>
                        <li>Fast and small</li>
                        <li>Security</li>
                        <li>No need of powerful hardware</li>
                        <li>Easier branching</li>
                    </ul>

                    <!----------------------------------->
                    <!-------------------------------------------------->
                    <h3 class="panel-title">Git Terminologies</h3>
                    <ul>
                        <li>Local Repository</li>
                        <li>Trees</li>
                        <li>Commits</li>
                        <li>Branches</li>
                        <li>Easier branching</li>
                        <li>Branches</li>
                        <li>Clone</li>
                        <li>Pull</li>
                        <li>Push</li>
                        <li>URL</li>
                    </ul>
                </div>

                </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">Git Branching</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">Git on the Server</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Distributed Git</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Git Tools</div>
            <div class="panel-body">Panel Content</div>
        </div>



        <div class="panel panel-info">
            <div class="panel-heading">Customizing Git</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Git and Other Systems</div>
            <div class="panel-body">Panel Content</div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Git Internals</div>
            <div class="panel-body">Panel Content</div>
        </div>


    </div>





</div>
<br>
<br>
<br>
<br>
<br>