
<br>
<br>
<br>
<div class="container" ng-init="org.getOrgs()">

    <div class="progress" ng-show="org.loading">
        <div class="se-pre-con"></div>
    </div>



    <div class="row">

        <div class="col-md-4">

        </div>

        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a ng-click="org.decrement()" aria-label="Previous">
                        Prev
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li>
                    <a ng-click="org.click()" aria-label="Next">
                        Next
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>





    <div class="row">
        <div class="col-md-6">
            <table class="table table-condensed">

                <tbody>


                <tr ng-repeat="user in org.organisations track by $index" ng-if=" $index % 2 == 0">

                    <td>

                        <div class="media">
                            <div class="media-left">
                                <a ui-sref="organisationDetails({'username': organisations[($index)].data.login   })">
                                    <img ng-src="{{org.organisations[($index)].data.avatar_url}}" width="70px" class="media-object">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a ui-sref="organisationDetails({ username: org.organisations[($index)].data.login })"> {{ org.organisations[($index)].data.login }}</a>
                                </h3>
                                <!--------------------------->

                                <p>
                                    <span>
                                        <i class="fa fa-gitlab" aria-hidden="true"></i> {{ org.organisations[($index)].data.followers}} Followers
                                    </span>
                                    <span>
                                        <i class="fa fa-gratipay" aria-hidden="true"></i>{{ org.organisations[($index)].data.following}} Following
                                    </span>
                                </p>

                                <!----------->
                                <p>
                                    <span>
                                       <i class="fa fa-git-square" aria-hidden="true"></i> {{ org.organisations[($index)].data.public_gists}} public gists
                                    </span>
                                    <span>
                                        <i class="fa fa-code" aria-hidden="true"></i>{{ org.organisations[($index)].data.public_repos}} public repos
                                    </span>
                                </p>

                                <p>

                                    <span ng-if="org.organisations[($index)].data.email " class="email">
                                       <i class="fa fa-envelope" aria-hidden="true"></i> {{ org.organisations[($index)].data.email}}
                                    </span>


                                    <!------------>


                                     <span class="notFound" ng-if="!org.organisations[($index)].data.email ">
                                       <i class="fa fa-envelope" aria-hidden="true"></i> No email found
                                    </span>
                                 <span ng-if="org.organisations[($index)].data.location" class="location">
                                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a>{{ org.organisations[($index)].data.location}}</a>
                                    </span>

                                     <span class="notFound" ng-if="!org.organisations[($index)].data.location">
                                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a>No location yet !</a>
                                    </span>

                                </p>

                                <!---------------------->
                                <p>
                                    <a ng-href="{{org.organisations[($index)].data.blog}}" ng-if="org.organisations[($index)].data.blog">
                                    <span ng-if="org.organisations[($index)].data.blog" class="blog">
                                     <i class="fa fa-rss-square" aria-hidden="true"></i>{{ org.organisations[($index)].data.blog}}
                                    </span>
                                    </a>

                                    <!----------------->

                                    <a  ng-if="!org.organisations[($index)].data.blog">
                                    <span class="notFound">
                                     <i class="fa fa-rss-square" aria-hidden="true"></i>No Blog yet !
                                    </span>
                                    </a>


                                </p>


                            </div>
                        </div>

                    </td>
                </tr>

                <!-------------------->


                <!--------------------->
                </tbody>
            </table>
        </div>












        <!------------------------------------------------------------------------------->


        <div class="col-md-6">
            <table class="table table-condensed">

                <tbody>


                <tr ng-repeat="user in org.organisations track by $index" ng-if="org.organisations.length > ($index + 1) && $index % 2 == 0">

                    <td>

                        <div class="media">
                            <div class="media-left">
                                <a ui-sref="organisationDetails({'username': organisations[($index + 1)].data.login   })">
                                    <img class="media-object" ng-src="{{org.organisations[($index + 1)].data.avatar_url}}" width="70px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a ui-sref="organisationDetails({ username: org.organisations[($index + 1)].data.login })"> {{ org.organisations[($index + 1)].data.login }}</a>
                                </h3>
                                <p>

                                    <span>
                                        <i class="fa fa-gitlab" aria-hidden="true"></i> {{ org.organisations[($index + 1)].data.followers}} Followers
                                    </span>
                                    <span>
                                        <i class="fa fa-gratipay" aria-hidden="true"></i>{{ org.organisations[($index + 1)].data.following}} Following
                                    </span>
                                </p>

                                <!----------->
                                <p>
                                    <span>
                                       <i class="fa fa-git-square" aria-hidden="true"></i> {{ org.organisations[($index + 1)].data.public_gists}} public gists
                                    </span>
                                    <span>
                                        <i class="fa fa-code" aria-hidden="true"></i>{{ org.organisations[($index + 1)].data.public_repos}} public repos
                                    </span>
                                </p>
                                <!------------------------>

                                <p ng-click="openModal(org.organisations[($index + 1)].data.email)">
                                    <span class="email" ng-if="org.organisations[($index + 1)].data.email " >
                                       <i class="fa fa-envelope" aria-hidden="true"></i> {{ org.organisations[($index + 1)].data.email}}
                                    </span>

                                    <!------------>
                                     <span class="notFound" ng-if="!org.organisations[($index + 1)].data.email ">
                                       <i class="fa fa-envelope" aria-hidden="true"></i> No email found
                                    </span>
                                 <span class="location" ng-if="org.organisations[($index + 1)].data.location">
                                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a>{{ org.organisations[($index + 1)].data.location}}</a>
                                    </span>

                                     <span class="notFound" ng-if="!org.organisations[($index + 1)].data.location">
                                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a>No location yet !</a>
                                    </span>

                                </p>

                                <!---------------------->
                                <p>
                                    <a ng-href="{{org.organisations[($index+1)].data.blog}}" ng-if="org.organisations[($index + 1)].data.blog">
                                    <span ng-if="org.organisations[($index + 1)].data.blog" class="blog">
                                     <i class="fa fa-rss-square" aria-hidden="true"></i>{{ org.organisations[($index + 1)].data.blog}}
                                    </span>
                                    </a>

                                    <!----------------->

                                    <a ng-if="!org.organisations[($index + 1)].data.blog">
                                    <span class="notFound">
                                     <i class="fa fa-rss-square" aria-hidden="true"></i>No Blog yet !
                                    </span>
                                    </a>


                                </p>

                            </div>
                        </div>

                    </td>
                </tr>


                <!-------------------->


                <!--------------------->
                </tbody>
            </table>
        </div>






    </div><!--end of row--->



<!-------------------------->

    <div class="row">


        <div class="col-md-4">

        </div>

        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a ng-click="org.decrement()" aria-label="Previous">
                        Prev
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li>
                    <a ng-click="org.click()" aria-label="Next">
                        Next
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</div><!----end of container------>


<br>
<br>
<br>
<br>
<br>
<br>