
<br>
<br>
<br>

<div class="container">

    <div class="progress" ng-show="orgDetails.loading">
        <div class="se-pre-con"></div>
    </div>>




    <div class="row">





        <div class="col-md-4">




            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="{{ orgDetails.organisation.avatar_url}}" alt="..." width="90px">
                    </a>
                </div><!---end of media left----->
                <div class="media-body">
                    <h4 class="media-heading"> {{ orgDetails.organisation.login }}</h4>


                      <p class="orgDetails">
                            <i class="fa fa-gitlab" aria-hidden="true"></i> {{ orgDetails.organisation.followers  }} Followers
                    </p>


                            <p class="orgDetails">
                            <i class="fa fa-gratipay" aria-hidden="true"></i> {{ orgDetails.organisation.following }} Following
                       </p>

                            <p class="orgDetails">
                            <i class="fa fa-git-square" aria-hidden="true"></i> {{ orgDetails.organisation.public_gists }} Gists
                   </p>


    <p class="orgDetails">
                            <i class="fa fa-code" aria-hidden="true"></i> {{ orgDetails.organisation.public_repos }} Repos
                       </p>

                            <p class="orgDetails">
                                <i class="fa fa-calendar" aria-hidden="true"></i> Joined on {{ orgDetails.organisation.created_at | date:"MM/dd/yyyy" }}
                         </p>

                    <!-- -->
                    <button type="button" class="btn btn-info" id="btn" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Send Email
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                    <br>

                    <a ng-href="{{orgDetails.organisation.html_url}}">Github</a>
                    <hr>

                </div>
            </div>
        </div><!---end of col md4---------->



<!-------------------------------------------------------------------------------->


        <div class="col-md-4">
            <h3> {{ orgDetails.OrganisationRepos.length }} Repositories</h3>
            <hr>

            <table class="table table-hover">

                <tbody>
                <tr ng-repeat="r in orgDetails.OrganisationRepos">
                    <td>
                        <div class="alert alert-success " role="alert">

                            <h3><a ui-sref="reposDetails({'username': '{{User.login}}',repos: '{{r.name }}' })"> {{ r.name }}</a> </h3>



                                <p>
                                    <span style="font-weight: bold">
                                    <i class="fa fa-star" aria-hidden="true"></i> Stars
                                        </span>:
                                       {{ r.stargazers_count}}
                                </p>
                            <br>

                                <p>  <span style="font-weight: bold"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks
                                    </span>:
                                   {{ r.forks_count}}
                                    </p>


                            <br>


                            <p ng-if="r.language">
                                <span style="font-weight: bold">
                                   <i class="fa fa-code" aria-hidden="true"></i> language </span>   :
                                {{ r.language }}
                            </p>
                            <br>

                            <p ng-if="r.description">
                                <span style="font-weight: bold">
                              <i class="fa fa-history" aria-hidden="true"></i> Description  </span>:
                                {{ r.description}}
                            </p>


                        </div>
                    </td>

                </tr>

                </tbody>
            </table>


        </div>




<!-------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
            <h3> {{ orgDetails.OrganisationMembers.length }}  Members</h3>
            <hr>

            <table class="table table-hover">

                <tbody>
                <tr ng-repeat="r in orgDetails.OrganisationMembers">
                    <td>


                        <div class="media">
                            <div class="media-left">
                                <a ui-sref="developerDetails({'username': '{{r.name}}' })">
                                    <img class="media-object" ng-src="{{r.avatar_url}}" alt="..." width="70px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a ui-sref="developerDetails({'username': '{{r.login}}' })">
                                    {{ r.login }}
                                        </a>
                                </h4>

                            </div>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>


        </div><!---end of ocl md4--->




    </div><!----end of row---->
</div><!---end of container------->