<br>
<br>
<br>
<div class="container">



    <div>



        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Issues" >
                <p>Comming Soon</p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </uib-tab>
            <uib-tab index="1" heading="Notifications " >
                <p>Comming Soon</p>
            </uib-tab>
            <uib-tab index="2" heading="Starring">

                <i class="fa fa-star" aria-hidden="true"></i>
                <ul>
                    <li ng-repeat="wa in pr.Starting ">
                        {{ wa }}
                    </li>
                </ul>
            </uib-tab>
            <uib-tab index="3" heading="Watching">
                <ul>
                    <li ng-repeat="wa in pr.watching">
                        {{ wa }}
                    </li>
                </ul>
                <i class="fa fa-eye" aria-hidden="true"></i>
            </uib-tab>

        </uib-tabset>

        <hr />








    </div>





</div>
<br>
<br>
<br>
<br>
<br>