<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Search Users</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
    </div>



<div class="row">
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a ng-click="decrement()" aria-label="Previous">
                    Prev
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li>
                <a ng-click="click()" aria-label="Next">
                    Next
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>





    <div class="row">
        <div class="col-md-6">
            <table class="table table-condensed">

                <tbody>


                <tr ng-repeat="user in developers " ng-if="$index % 2 == 0" >
                    <td>

                            <div class="alert">
                                <h3>
                                    <a ui-sref="developerDetails({'username': '{{developers[($index)].login}}'   })"> {{ developers[($index)].login }}</a>
                                </h3>


                                <p>
                                    <a ui-sref="developerDetails({'username': '{{developers[($index)].login}}'   })">
                                    <img ng-src="{{developers[($index)].avatar_url}}" width="70px">
                                    </a>
                                  </p>

                                <div class="pull-right">
                                    <i class="fa fa-star fa-2x" aria-hidden="true">{{ developers[($index)].score}}</i>
                                    <button type="button" class="btn btn-warning">Follow</button>
                                </div>

                            </div>

                    </td>
                </tr>


                <!-------------------->


                <!--------------------->
                </tbody>
            </table>
        </div>












        <!------------------------------------------------------------------------------->


        <div class="col-md-6">
            <table class="table table-condensed">

                <tbody>


                <tr ng-repeat="user in developers" ng-if="developers.length > ($index + 1) && $index % 2 == 0">

                    <td>

                            <div class="alert">
                                <h3>
                                    <a ui-sref="developerDetails({'username': '{{developers[($index + 1)].login}}'   })"> {{ developers[($index + 1)].login }}</a>
                                </h3>


                                <h3>
                                    <img ng-src="{{developers[($index + 1)].avatar_url}}" width="70px">
                                </h3>

                                <div class="pull-right">
                                    <i class="fa fa-star fa-2x" aria-hidden="true">{{ developers[($index + 1)].score}}</i>
                                    <button type="button" class="btn btn-warning">Follow</button>
                                </div>

                            </div>

                    </td>
                </tr>


                <!-------------------->


                <!--------------------->
                </tbody>
            </table>
        </div>






    </div><!--end of row--->






</div><!----end of container------>


<br>
<br>
<br>
<br>
<br>
<br>