<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a ui-sref="trending">Repos</a>
                    </li>
                    <li>
                        <a ui-sref="technologies">Developers</a>
                    </li>
                    <li>
                        <a ui-sref="organisations">Organisations</a>
                    </li>

                    <li>
                        <a ui-sref="developers">Explore</a>
                    </li>


                </ul>

            </div>
        </div>
    </div>
</footer>
