<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="Repositories">Gitalo</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">

                <li ui-sref-active="active"><a ui-sref="Repositories">Repos</a></li>
                <li ui-sref-active="active"><a ui-sref="developers">Developers</a></li>
                <li ui-sref-active="active"><a ui-sref="organisations">organisations</a></li>
                <li ui-sref-active="active"><a ui-sref="GIT"><i class="fa fa-git-square fa-1x" aria-hidden="true"></i>GIT</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!authenticated"><a ng-click="login()">login</a></li>

                <li  class="dropdown" ng-show="authenticated">


                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ loggedInUser.github.username }}
                        <i class="fa fa-user" aria-hidden="true"></i></a>

                    <ul class="dropdown-menu">
                        <li><a ui-sref="Profile">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">logout</a></li>

                    </ul>

                </li>

            </ul>
        </div>
    </div>
</div>

